.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 15px;
    height: 60vh;
    min-width: 600px;
    border-radius: 50px;
    margin: 2%;
    overflow: scroll;
}

.slide {
    display: flex;
    overflow-x: scroll;
}