.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  padding: 1em;
}

.group-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.5em;
}

.pad-title {
  padding: 0.5em 0 0 0.5em;
}
