@font-face {
  font-family: "din-2014";
  src: url("./fonts/DIN2014-ExtraLight.woff") format("woff"),
    url("./fonts/DIN2014-ExtraLight.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "din-2014", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background: #ffe8e8;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  padding: 1em;
}
