.slider {
    overflow: scroll;
    display: flex;
    flex-flow: row nowrap;
}

.slider::before,
.slider::after {
    content: "";
    /* Insert pseudo-element */
    margin: auto;
    /* Make it push flex items to the center */
}