
.task-item {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90%;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}

.task-content {
    width: 80%;
}

.delete {
    width: 15%;
    padding: 20px;
    color: tomato;
    margin-right: auto;
}
.delete:hover {
   cursor: pointer;
}

.update {
    width: 15%;
    padding: 20px;
    color: orange;
    margin-right: auto;
}
.update:hover {
   cursor: pointer;
}
.task-item:hover {
    background:lavender;
    transform: scale(1.1);
}